@charset "utf-8";
body {
  background: #ffff00;
  font-family: sans-serif;
  font-size: 10px;
  height : 100%
}
h1
{
	text-align: center;
}
form
{
	margin: 20px 60px;
}
form label
{
    display:block; 
    width:100px; /* Attention : prenez une largeur suffisamment grande */
    float:left;
}
table
{
	width: 90%;
    text-align: center;
    margin-right: auto;
	margin-left: auto;
}
.userConnected
{
	float: right;
}
tr th , tr td
{
	border: 2px solid black;
}
#wrapper
{
	position: absolute;
    top: 70%;
    width: 100%;
}
.chercher
{
	margin: 0 10px;
    width: 10%;
}
.section
{
	position: absolute;
    top: 26%;
    left: 50%;
}
.logged
{
	float: right;
}
.ajouterproduit
{
	display: flex;
    justify-content: center;
    margin : 25px 7px 25px 0px;
}
.btn btn-danger
{
	margin: 10px 5px 10px 0;
}
.envoyer
{
	display: block;
    text-align: center;
    margin: 16px 0px 0px 80px;
    width: 100px;
}
.form_user, .form_pharmacie, .form_produit, .form_profil
{
	position: absolute;
	width: 500px;
	height: 300px;
	z-index: 15;
	margin: 40px 0 0 155px;
}

@import url("https://fonts.googleapis.com/css?family=Titillium+Web");
* {
  font-family: "Titillium Web", sans-serif;
}
body {
  height: 2000px;
}
.navbar .navbar-brand {
  font-size: 30px;
}
.navbar .nav-item {
  padding: 10px 20px;
}
.navbar .nav-link {
  font-size: 20px;
  margin-left: 10px;
}
.fa-bars {
  color: #007bff;
  font-size: 30px;
}