<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhml" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8" />
<head th:replace="common/header :: common-header"/>
<body>
<head th:replace="common/header :: navbar"/>
	<section class="section">
		<div class="form_pharmacie">
			<h2>Créer une nouvelle pharmacie</h2>
			<form class="form-horizontal" method="post" th:action="@{/pharmacie}" th:object="${pharmacie}" accept-charset="utf-8">
				<input type="hidden" th:field="*{idPharmacie}" name="idPharmacie" roleId="idPharmacie"/><br/>
				<label for="nomPharmacie" >Nom du pharmacie :</label> <input type="text" id="nomPharmacie" th:field="*{nomPharmacie}" name="nomPharmacie" roleId="nomPharmacie"/><br/>
			    <label for="telePharmacie" >Téléphone pharmacie :</label> <input type="text" id="telePharmacie" th:field="*{telePharmacie}" name="telePharmacie" roleId="telePharmacie" /><br/>
			    <label for="adressePharmacie" >Adresse du pharmacie :</label> <input type="text" id="adressePharmacie" th:field="*{adressePharmacie}" name="adressePharmacie" roleId="adressePharmacie" /><br/>   
			    <label for="villePharmacie" >Ville pharmacie :</label> <input type="text" id="villePharmacie" th:field="*{villePharmacie}" name="villePharmacie" roleId="villePharmacie" /><br/>
			    <button type="submit" class="envoyer">Envoyer</button>
			</form>
		</div>
	</section>
	<div id="wrapper">
	  <h1>Liste des pharmacies</h1>       
	  <table id="keywords" cellspacing="0" cellpadding="0">
		    <thead>
		      <tr>
<!-- 		        <th>Id Pharmacie</th> -->
		        <th>Nom Pharmacie</th>
		        <th>Téléphone Pharmacie</th>
		        <th>Adresse Pharmacie</th>
		        <th>Ville Pharmacie</th>
		        <th>Modifier</th>
        		<th>Supprimer</th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr th:each="pharmacies : ${listPharmacie}">
<!-- 		        <td th:text="${pharmacies.idPharmacie}"></td> -->
		        <td th:text="${pharmacies.nomPharmacie}"></td>
		        <td th:text="${pharmacies.telePharmacie}"></td>
		        <td th:text="${pharmacies.adressePharmacie}"></td>
		        <td th:text="${pharmacies.villePharmacie}"></td>
		        <td>
		        	<a th:href="@{/modifierpharmacie?nompharmacie=}+${pharmacies.nomPharmacie}" class="btn btn-danger" >Modifier</a>
		        </td>
		        <td>
		        	<a th:href="@{/supprimerpharmacie?nompharmacie=}+${pharmacies.nomPharmacie}" class="btn btn-danger">Supprimer</a>
		        </td>
		      </tr>
		     </tbody>
	  </table>
	 </div> 
</body>
</html>