<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhml" xmlns:th="http://www.thymeleaf.org">
    
<head>
    <meta charset="UTF-8">
    <title>Liste des pharmacies</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap/bootstrap.min.css"
	th:href="@{/css/bootstrap/bootstrap.min.css}"/>
	<link rel="stylesheet" type="text/css" href="../static/css/style.css"
		th:href="@{/css/style.css}"/>
</head>
<body>
	<div id="wrapper">
	  <h1>Liste des pharmacies</h1>
	  <a th:href="@{/ajouterPharmacie}">Ajouter Pharmacie</a>        
	  <table id="keywords" cellspacing="0" cellpadding="0">
		    <thead>
		      <tr>
		        <th>Id Pharmacie</th>
		        <th>Nom Pharmacie</th>
		        <th>Téléphone Pharmacie</th>
		        <th>Adresse Pharmacie</th>
		        <th>Ville Pharmacie</th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr th:each="pharmacies : ${pharmacie}">
		        <td th:text="${pharmacies.id_pharmacie}"></td>
		        <td th:text="${pharmacies.nom_pharmacie}"></td>
		        <td th:text="${pharmacies.tele_pharmacie}"></td>
		        <td th:text="${pharmacies.adresse_pharmacie}"></td>
		        <td th:text="${pharmacies.ville_pharmacie}"></td>
		      </tr>
		     </tbody>
	  </table>
	 </div> 
</body>
</html>