<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhml" xmlns:th="http://www.thymeleaf.org">
    
<head>
    <meta charset="UTF-8">
    <title>Liste des produits</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap/bootstrap.min.css"
	th:href="@{/css/bootstrap/bootstrap.min.css}"/>
	<link rel="stylesheet" type="text/css" href="../static/css/style.css"
		th:href="@{/css/style.css}"/>
	<script type="text/javascript" src="style.js"></script>
</head>
<body>
<header>
	<div class="container">
      <ul class="nav nav-tabs">
          <li class="nav-item"><a class="nav-link active" th:href="@{/acceuil}">Acceuil</a></li>
          <li class="nav-item"><a class="nav-link" th:href="@{/client}">Clients</a></li>
          <li class="nav-item"><a class="nav-link" th:href="@{/produit}">Produits</a></li>
          <li class="nav-item"><a class="nav-link " th:href="@{/inscription}">Inscription</a></li>
          <li class="nav-item"><a class="nav-link " th:href="@{/pharmacie}">Pharmacies</a></li>
        </ul>
    </div>
</header>
<section class="section">
	<div class="form_produit">
		<h2>Créer un nouveau produit</h2>
		<form class="form-horizontal" method="post" data-th-action="@{/produit}" data-th-object="${produit}" accept-charset="utf-8">
			<input type="hidden" data-th-field="*{id_produit}" name="id_produit" roleId="id_produit"/><br/>
			<label for="nom_produit" >Nom du produit :</label> <input type="text" id="nom_produit" data-th-field="*{nom_produit}" name="nom_produit" roleId="nom_produit"/><br/>
		    <label for="date_expiration" >Date d'expiration :</label> <input type="text" id="date_expiration" data-th-field="*{date_expiration}" name="date_expiration" roleId="date_expiration" /><br/>
		    <label for="type_produit" >Type de produit :</label> <input type="text" id="type_produit" data-th-field="*{type_produit}" name="type_produit" roleId="type_produit" /><br/>   
		    <label for="description" >Description :</label> <input type="text" id="description" data-th-field="*{description}" name="description" roleId="description" /><br/>
		    <button type="submit" class="envoyer">Envoyer</button>
		</form>
	</div>
</section>
<div id="wrapper">
  <h1>Liste des produits</h1>      
  <table id="keywords" cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <th>Id Produit</th>
        <th>Nom produit</th>
        <th>Date d'expiration</th>
        <th>Type produit</th>
        <th>Description</th>
        <th>Modifier</th>
        <th>Supprimer</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="produit : ${listProduit}">
        <td th:text="${produit.id_produit}"></td>
        <td th:text="${produit.nom_produit}"></td>
        <td th:text="${produit.date_expiration}"></td>
        <td th:text="${produit.type_produit}"></td>
        <td th:text="${produit.description}"></td>
        <td>
        	<a th:href="@{/modifierproduit?nomproduit=}+${produit.nom_produit}" class="btn btn-danger" >Modifier</a>
        </td>
        <td>
        	<a th:href="@{/supprimerproduit?nomproduit=}+${produit.nom_produit}" class="btn btn-danger">Supprimer</a>
        </td>
      </tr>
     </tbody>
 </table>
</div> 

</body>
</html>